body {
    background-color: #fbe8a6;
    font-family: 'Special Elite', cursive;
    padding: 10px;
}

/* header {
    color: black;
    text-decoration: none;
} */

.ryan-pic {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 300px;
    border: 10px black;
}

.project-card {
    display: flex;
    margin: 1%;
    border: 2px solid black;
}


.project-image {
    width: 40%;
    border-right: 2px solid black;
    margin: 0;
}

.project-details {
    width: 100%;
    margin: auto 5% auto 5%;
}

.project-details-title {
    font-size: 40px;
    margin-bottom: 10px;
}

.project-details-technologies {
    font-weight: lighter;
    font-size: 16px;
    font-style: italic;
}

.project-details-link {
    color: black;
    font-size: 16px;
    margin: 10px 25px 10px 1px;
}
