body {
    background-color: #fbe8a6;
    font-family: 'Special Elite', cursive;
    padding: 10px;
}

/* HEADER SECTION */
.navbar h1 a:hover {
    color: none;
}

.navbar h1 {
    text-decoration: none;
}

/* BIO SECTION ON INDEX PAGE */
.bio {
    display: flex;
    margin: 1%;
}

.ryan-pic {
    height: 15%;
    width: 25%;
}

.bio-details {
    width: 100%;
    margin: auto 5% auto 5%;
}

/* PROJECT CARDS  */
.project-card {
    display: flex;
    flex-direction: row-reverse;
    margin: 2%;
    border: 2px solid #303c6c;
    background-color: #f4976c;
    border-radius: 5px;
    box-shadow: 5px 5px #b4dfe5;
}

.project-image {
    width: 40%;
    border-right: 2px solid #303c6c;
    margin: 0;
}

.project-details {
    width: 100%;
    margin: auto 5% auto 5%;
}

.project-details-title {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}

